<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t("mails.welcome.title") %></h1>
    <p>
      <%= t("mails.welcome.approved", identifier: @user.identifier) %>.
      <br>
    </p>
    <p>
      <%= t("mails.welcome.follow_url", url: @url) %>.
    </p>
    <p><%= t("mails.welcome.thanks") %>!</p>
  </body>
</html>
