<%= form_with(model: attached_product, local: true) do |form| %>
  <% if attached_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attached_product.errors.count, "error") %> prohibited this attached_product from being saved:</h2>

      <ul>
        <% attached_product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
