<td><%= link_to icon('fas', 'fa-trash'), path_for(user: @user,
  path: 'attached_product', options: {object_id: id}),
  title: t("views.attached_products.destroy"), method: :delete, data: { confirm: t("views.are_you_sure") } %>
</td>
