<%# debugger %>
<div class="container">
  <div class="card">
    <div class="row">
      <div class="col">
        <%= t("about_us_html") %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <%= t("about_us_contact_html") %>
      </div>
      <div class="col">
        <%= t("about_us_emails_html") %>
      </div>
    </div>
  </div>
  <%= link_to t("back"), :back %>
</div>
