<h1><%= t("offer.editing") %></h1>

<%= render 'form', order: @order %>
<%= link_to t("show"), path_for(user: @user, path: "order", options: {object_id: @order.id}) %> |
<%= link_to t("back"), :back %>
