<% @show = true %>
<h1><%= t("views.order.show") %></h1>

<%= render 'form', order: @order %>
<%= link_to t("views.orders.index"), path_for(user: @user, path: "orders"),
  class: "btn btn-secondary" %>
