<td>
  <%= link_to icon('fas', 'fa-trash'), path_for(user: @user,
    path: 'concrete_product', options: {object_id: id}),
    title: t("views.concrete_products.destroy"), method: :delete, data: { confirm: t("views.are_you_sure") } %>
</td>
