$color-first: #2b489a;
$color-second: #898989;
$primary: $color-first !default;
$info: $color-first !default;
$notice: $color-first !default;
$danger: $color-first !default;
$link-color:                $primary !default;
$link-decoration:           none !default;
$link-hover-decoration: none !default;
