<h1><%= t("views.products.new") %></h1>

<%= render 'form', product: @product %>

<%= link_to t("views.back"), :back %>
<%= link_to t("views.products.index"), path_for(user: @user, path: 'products') %>
