<div class="container-fluid-fluid text-center text-md-left">
  <div class="row">
    <div class="col-md-9 mt-md-0 mt-3">
    </div>
    <div class="col-md-1 mb-md-0 mb-1">
      <%# link_to flag_icon(:gb) + t("english_html"), route_with_locale("en") %>
    </div>
    <div class="col-md-1 mb-md-0 mb-1">
      <%# link_to flag_icon(:fr) + t("french_html"), route_with_locale("fr") %>
    </div>
    <div class="col-md-1 mb-md-0 mb-1">
      <%# link_to flag_icon(:es) + t("spanish_html"), route_with_locale("es") %>
    </div>
  </div>
</div>
<div class="footer-copyright text-center py-3">© 2018 Copyright:
  <a href="http://alphawholesales.fr/"> ALPHAWHOLESALES </a>
</div>
